/* src/BannerSlider.css */
.banner-slider {
    width: 100%;
}

.banner-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-slide img {
    width: 100%;
    height: auto;
}